<h2>Runs</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name (ID)</th>
      <th>Start time</th>
      <th>Completion time</th>
      <th>Run for processing</th>
      <th>EADs processed</th>
    </tr>
  </thead>
  <tbody>
     <% @runs.each do |run| %>
      <tr>
        <td><%= link_to "#{run.name} (#{run.id})", run %></td>
        <% %i|created_at
              updated_at|.each do |attr| %>
          <td><%= pp_time run.send(attr) %></td>
        <% end %>
        <td>
          <%= run.run_for_processing? ? "✓" : "❌" %>
        </td>
        <td>
          <%= run.eads_processed %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
