<!DOCTYPE html>
<html>
<head>
  <title>ArchivesSpace Preprocessor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="c_<% controller.controller_name %> a_<% controller.action_name %>">
  <div class="container-fluid">
    <h1>ArchivesSpace Preprocessor</h1>
    <%= yield %>
  </div>
</body>
</html>
